{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="has-text-centered">
      <h1 class="title is-2">{{ section.title }}</h1>
      <p class="subtitle is-4">{{ section.description }}</p>
      {% if config.extra.author.avatar %}
      <figure class="image is-flex is-justify-content-center is-align-items-center">
        <img class="is-rounded" src="{{ config.extra.author.avatar }}" style="max-width: 192px" />
      </figure>
      {% endif %}
      {{ macros:: social_links( social_config=config.extra.social) }}
    </div>
    <div class="content">
      {{ section.content | safe }}
      <h3>Recent Publications</h3>
      {% set data = load_data(path="json/pubs.json") | sort(attribute="date") | reverse | slice(end=3) %}
      {% for pub in data %}
        <p>
          <div><b>{{ pub.title }}</b></div>
          <div>{{ macros::fmt_page_authors(pub=pub) }}</div>
          <div><i>{{ pub.book | default(value='') }}</i></div>
          <div><time>{{ pub.date | date(format='%B, %Y') }}</time></div>
          <div>{{ macros::fmt_paper_misc(pub=pub) }}</div>
        </p>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
